h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    color: white
}

table td, table th {
    border-top: none !important;
    color: white;
    letter-spacing: 2.8px
}

h1{
    letter-spacing: 11.6px;
    font-size: 58px;
}

h3 {
    letter-spacing: 4.76px
}

h4 {
    letter-spacing: 3.5px;
}
p, div{
    font-family: "Raleway";
}

.fieldTitle {
    color: white;
}

.spacer {
    float: left;
}

label{
    letter-spacing: 2.8px;
}

a {
    color: white !important
}

#searchButton{
    color: white;
    font-size: 20px;
    letter-spacing: 3.2px;
    cursor: pointer;
}

#searchButton:hover{
    text-decoration: underline;
}
