{% extends 'mainpage/header.html' %}

{% block content %}
    <div class="container-fluid" style="height: 211px" ng-hide="queryCtrl.showTable">
        <h1 class="text-center" style="padding-top: 118px">CalExams</h1>
    </div>
    <div class="container-fluid" style="height: 100px" ng-hide="queryCtrl.showTable">
        <h4 class="text-center" style="padding-top: 38px">Which tests are you looking for?</h4>
    </div>
	<div class = 'container-fluid' style="padding-top: 20px">
    		<form id="searchForm" class = 'form-inline' ng-submit="queryCtrl.send(queryCtrl)">
                <div class="row" style="height: 53px">
        			<div class='form-group col-md-8 col-md-offset-2' style="position: relative">
                        <div style="position: absolute; left: 0px">
                            <div class="fieldTitle">
            				    <label for = "course">Course Name</label>
                            </div>
                            <div>
                			    <select class='form-control' type="text" id = "course" name="course" placeholder="ex: cs61a" style="width: 158px"
                							 ng-model="queryCtrl.query.course" ng-change="queryCtrl.toggleCourse(queryCtrl)">
                							 {% for class in classes %}
                							 		<option value="{{class}}">{{class}}</option>
                							 {% endfor %}
                				</select>
                            </div>
                        </div>
                        <div style="position: absolute; left: 50%; margin-left: -175px">
                            <div class="fieldTitle">
            			        <label for = "semester">Semester</label>
                            </div>
                            <div>
                				<select class='form-control' type="text" id = "semester" name="semester" placeholder="ex: spring 2015" style="width: 350px"
                							 ng-model="queryCtrl.query.semesters" ng-disabled="!queryCtrl.courseEntered" ng-change="queryCtrl.toggleSemester(queryCtrl)"
                							 multiple="multiple">
                							 {% verbatim %}
                							 		<option ng-repeat="item in queryCtrl.semesters" value="{{item.semester}}">{{item.semester}}</option>
                							 {% endverbatim %}
                				</select>
                            </div>
                        </div>
                        <div style='position: absolute; right: 0px'>
                            <div class="fieldTitle">
            				    <label for = "test">Test</label>
                            </div>
                            <div>
                				<select class='form-control' type="text" id = "test" name="test" placeholder="ex: midterm 1" style="width: 180px"
                							 ng-model="queryCtrl.query.tests" ng-disabled="!queryCtrl.semestersEntered" ng-change="queryCtrl.toggleTest(queryCtrl)"
                							 multiple="multiple" style="width: 20%">
                							 <option value="midterm 1">Midterm 1</option>
                							 <option value="midterm 2">Midterm 2</option>
                							 <option value="midterm 3">Midterm 3</option>
                							 <option value="final">Final</option>
                				</select>
                            </div>
                        </div>
        			</div>
                </div>
                <div class="row col-md-2 col-md-offset-5" style="text-align: center; padding-top: 50px">
                    <span id="searchButton" style="color: white;
                                              font-size: 20px;
                                              letter-spacing: 3.2px" onclick="submitForm()">Search</span>
                </div>
    		</form>
        <div class="container-fluid col-md-10 col-md-offset-1" style="padding-top: 50px">
    		<table class="table customTable">
    			<tr ng-show="queryCtrl.showTable"  style="background-color: transparent;
                                                          border: none">
    				<th class="customCell">Instructor</th>
    				<th>Semester</th>
    				<th>Test</th>
    				<th>Exam</th>
    				<th>Solution</th>
    			</tr>
    			<tr ng-repeat="item in queryCtrl.response" style="background-color: transparent;
                                                                  border: none" ng-hide="queryCtrl.noTest">
    				<td>
    					{% verbatim %}
    						{{item.instructor}}
    					{% endverbatim %}
    				</td>
    				<td>
    					{% verbatim %}
    						{{item.semester}}
    					{% endverbatim %}
    				</td>
    				<td>
    					{% verbatim %}
    						{{item.test}}
    					{% endverbatim %}
    				<td ng-hide="item.exam == ''">
    					{% verbatim %}
    						<a href="{{item.exam}}" target="_blank">
    							<span class="glyphicon glyphicon-download-alt"></span> Download
    						</a>
    					{% endverbatim %}
    				</td>
    				<td ng-show="item.exam == ''"></td>
    				<td ng-hide="item.solution == ''">
    					{% verbatim %}
    						<a href="{{item.solution}}"  target="_blank">
    							<span class="glyphicon glyphicon-download-alt"></span> Download</a>
    					{% endverbatim %}
    				</td>
    				<td ng-show="item.solution == ''"></td>
    			</tr>
    		</table>
    		<h3 class="text-center" ng-show="queryCtrl.noTest">Sorry we could not find any exam :(</h3>
    		<h4 class="text-center" ng-show="queryCtrl.loading">
    			<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</h4>
        </div>
	</div>
    <script>
        function submitForm(){
            $("#searchForm").submit();
        }
        $(function(){
            $("#searchForm").on("submit", function (e) {
                e.preventDefault();
            })
        })
    </script>
{% endblock %}
